<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="swap.app.calsync"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="swap.app.calsync.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="swap.app.calsync.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="swap.app.calsync.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="swap.app.calsync.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="swap.app.calsync.MainActivity" />
        </activity>
        <activity
            android:name="swap.app.calsync.AddBirthdayActivity"
            android:label="@string/title_activity_add_birthday"
            android:parentActivityName="swap.app.calsync.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="swap.app.calsync.MainActivity" />
        </activity>
    </application>

</manifest>
